.invites
  .header
    .logo= image_tag 'logo@2x.png'
  .main
    .container
      - if @member.errors.any?
        %ul
          - @member.errors.full_messages.each do |error|
            %li= error
      = form_tag @member.invitation_token, method: :put do
        .field
          = image_tag 'email_off@2x.png'
          .email= @member.email
        .field.no-bottom-border
          = image_tag 'name_on@2x.png'
          = text_field_tag 'user[first_name]', '', placeholder: 'First Name'
          .bottom-border
        .field.no-image.top-border.no-bottom-border
          = text_field_tag 'user[last_name]', '', placeholder: 'Last Name'
        .field.top-border
          = image_tag 'password_on@2x.png'
          = password_field_tag 'user[password]', '', placeholder: 'Password (8+ characters)'
        .field
          = image_tag 'birthdate_on@2x.png'
          = label_tag 'user[birthdate]', "Birthdate (18 or older)"
          .date-selector
            = date_select('user', 'birthdate', order: %i(month day year), default: 18.years.ago)
        .field.no-bottom-border
          = check_box_tag 'user[agreement_id]', Agreement.active.id
          = label_tag 'user[agreement_id]', 'I have read and agree to the Terms of Service'
        = submit_tag 'Sign up', class: :submit
