<script type="text/javascript">
function sendMessage(encounter_id){
	var text = $("#text"+encounter_id).val();
	$("#text"+encounter_id).val("");
	var data = {
	  "auth_token": "<%=@user.auth_token%>",
	  "text": text,
	  "encounter": {
	    "id": encounter_id
	  }
	};

	$.post("/api/v1/messages", data, function(data, status){
		if(status=="success"){
			$("#container"+encounter_id).append("<div class='bs-docs-example'><div class='name'><%=@user.full_name%></div>"+text+"</div>");
		}else{
			alert("Message could not be sent");
		}
	});
	return false;
}

// $(document).ready(function(){
// 	$(".accordion-toggle").on('click', function(e){
// 		var element = this;
// 		setTimeout(function(){
// 			console.log("called");
// 			if($(element).hasClass('collapsed')){
// 				$('.profile').hide();
// 			}else{
// 				$('.profile').offset({ top: element.offsetTop-51})
// 				$('.profile').show();
// 			}
// 		}, 1000);
// 	});
// });

</script>

<div class="accordion span12" id="accordion2" style="margin-left:0;">
	<% @encounters.each do |encounter| %>
	  <div class="accordion-group">
	  	<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= encounter.id %>">
					<span class="ref-number">#<%=encounter.id%></span>
					<%= if (!encounter.encounters_users.patients.empty? && encounter.encounters_users.patients.first.user) 
							encounter.encounters_users.patients.first.user.full_name 
						end %> 
						<% unless encounter.phone_calls.empty? %>
							<i class="icon-volume-up"></i>
						<% end %>
						<%= if(encounter.messages.count>1)
							"("+encounter.messages.count.to_s+")"
						end %>
						<span class="pull-right time" title="<%= encounter.created_at %>"><%= time_ago_in_words(encounter.created_at) %> ago</span>
				</a>
			</div>
			<div id="collapse<%= encounter.id %>" class="accordion-body collapse">
			 	<div class="accordion-inner">
			 		<div id="container<%= encounter.id %>" class="span6" style="margin-left:0;">
				 		<% encounter.messages.each do |message| %>
							<div class="bs-docs-example">
								<div class="name">
									<%= if(message.user) 
										message.user.full_name 
									end %>
								</div>
								<div  title="<%= message.created_at %>" class="time">
									<%= time_ago_in_words(message.created_at) %> ago
								</div>
								<%= message.text %>
								<div class="keywords">
									<% message.mayo_vocabularies.each do |keyword| %>
										<span class="label label-info"><%=keyword.title %></span>
									<% end %>
								</div>
								<div class="attachments">
									<% message.attachments.each do |attachment| %>
										<img class="img-polaroid" src="<%=attachment.url %>">
									<% end %>
								</div>
							</div>
							<% if message.phone_call %>
								<div class="bs-docs-example">
									<div class="name">
										<i class="icon-volume-up"></i>
										<%= if(message.user) 
											message.user.full_name 
										end %>
									</div>
									<% if(message.phone_call.created_at) %>
										<div title="<%= message.phone_call.created_at %>" class="time">
											<%= time_ago_in_words(message.phone_call.created_at) %> ago
										</div>
									<% end %>
									Please call me back in the <%=message.phone_call.time_to_call%>. I'm in <%=message.phone_call.time_zone%> timezone.
								</div>
							<% end %>
						<% end %>
					</div>
					<% if !encounter.encounters_users.patients.empty? %> 
						<div class="span5 profile pull-right" style="height:500px;">
							<img class="img-polaroid pull-right" src="http://placekitten.com/90/90">
							<div >
								<h5 style="margin-top:0;"><%=encounter.encounters_users.patients.first.user.full_name %></h5>
								<p><%=encounter.encounters_users.patients.first.user.gender %></p>
								<p><%=encounter.encounters_users.patients.first.user.height %>cm</p>
								<p>5 years old</p>
								<p><%=encounter.encounters_users.patients.first.user.phone %></p>
							</div>
						</div>
					<% end %>
					<div class="span6" style="margin-left:0;">
						<div class="bs-docs-example">
							<div class="name"><%=@user.full_name%></div>
							<form class="navbar-form">
							  <textarea class="input-block-level" rows="3" id="text<%=encounter.id%>" style="display:block;"></textarea>
							  <button type="submit" class="btn" onClick="sendMessage(<%=encounter.id%>); return false;">Submit</button>
							</form>
						</div>
					</div>
				</div>
			</div>
	  </div>
	<% end %>
</div>


