<p id="notice"><%= notice %></p>

<% if !@content.author.nil? %>
		<% if !@content.author.imageURL.empty? %>
			<div class="authorPicture" style="float:left">
				<%= image_tag @content.author.imageURL %>
			</div>
		<% end %>
		<div class="content_subtitle"> 
			<%= @content.created_at.to_s %>&nbsp;|&nbsp;By&nbsp;<%= @content.author.name %>
		</div> 
		<div class="content_text">
			<%= @content.text %>
		</div>
<% end %>


<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
