<p id="notice"><%= notice %></p>


<h1><%= @content.title %></h1>
<h2><%= @content.abstract%></h2>
<h2><%= @content.question%></h2>
<h3><%= @content.contentsType%></h3>
<h3><%= @content.keywords%><h3>


	<%=@content.body.html_safe%>




<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
