<p id="notice"><%= notice %></p>

<div class='content_full' style="padding-left:20px">

<div class="content_title">
<%= @content.title %>
</div>

<div class="content_subtitle">
	<% if !@content.abstract.nil? %>
		<%= @content.abstract.html_safe%>
	<% end %>
</div>

<div class="content_subtitle">
	<% if !@content.question.nil? %>
	<%= @content.question%>
	<% end %>
</div>

<div class="content_subtitle">
	Type:<%= @content.contentsType%>
</div>

<div class="content_text">
	<% if !@content.body.nil? %>
	<%=@content.body.html_safe%>
	<% end %>
</div>
</div>


<%= link_to 'Back', contents_path %>
