- if @user.care_provider?
  %p Hi #{@user.first_name}!

  %p We received your request to reset your password. Reset it via the link below:

  %p= link_to 'Reset My Password', "#{CARE_URL_PREFIX}/reset_password/#{@token}"

  %p - Team Better
- else
  %p Hello #{@user.email}

  %p You have requested to reset your password.  You can do this through the link below.

  %p= link_to 'Reset my password', @url