- if resource.creator == resource.user
  .header.orange
    - if resource.user.avatar_url
      = image_tag(resource.user.avatar_or_gender_url, class: :avatar)
      %span.avatar-text You are invited to share with #{resource.user.full_name}
    - else
      %span You are invited to share with #{resource.user.full_name}
  .body
    %span #{resource.user.full_name} has invited you to share #{resource.user.gender_possessive} profile. Tap accept to view #{resource.user.full_name}'s profile.
    .card-buttons
      .card-button.reject.update-inverse-association{data: {association_id: resource.id, state_event: :disable}}
        %span Decline
      .card-button.last.accept.update-inverse-association{data: {association_id: resource.id, state_event: :enable, user_id: resource.user_id}}
        %span Accept
- else
  .header.orange
    - if resource.associate.avatar_url
      = image_tag(resource.associate.avatar_or_gender_url, class: :avatar)
      %span.avatar-text #{resource.creator.full_name} has shared #{resource.associate.full_name || resource.possessive_association_type_display_name}'s profile with you
    - else
      %span #{resource.creator.full_name} has shared #{resource.associate.full_name || resource.possessive_association_type_display_name}'s profile with you
  .body
    %span #{resource.creator.full_name} has invited you to share #{resource.associate.full_name || resource.possessive_association_type_display_name}'s profile. Tap accept to view #{resource.possessive_association_type_display_name}'s profile.
    .card-buttons
      .card-button.reject.update-inverse-association{data: {association_id: resource.id, state_event: :disable}}
        %span Decline
      .card-button.last.accept.update-inverse-association{data: {association_id: resource.id, state_event: :enable, user_id: resource.user_id}}
        %span Accept
