.content_card.consult-link{:data => {:consult_id => consult.id}}
  .consult-header
    = image_tag "message_bubbles.png", :class => "top_icon"
    %span New Message
    %span.date{:data => {:time => message.created_at.to_i}}
  .consult-source
    %strong= message.user.full_name
    has sent you a new message about:
  .consult-info
    .left
      = image_tag consult.subject.avatar_or_gender_url
    .right
      %span
        %strong= consult.title.html_safe
      %span= consult.description.try(:html_safe)

%script{:type=>"text/javascript"}
  document.actionJSON = JSON.stringify([{type: "set_available_user_actions", body: {actions: ["save"]}}]);
