.content_card.consult-link{:data => {:consult_id => resource.try(:id)}}
  - if resource.last_message(current_user)
    .consult-header
      = image_tag "message_bubbles.png", :class => "top_icon"
      %span New Message
      %span.date{:data => {:time => resource.last_message_at(current_user).to_i}}
    .consult-source
      .left
        = image_tag resource.last_message(current_user).user.avatar_or_gender_url
      .right
        %div
          %strong= resource.last_message(current_user).user.full_name
          has sent you a new message about your consult titled:
        %div
          %strong= "\"#{resource.title.html_safe}\""
  - else
    .consult-header
      = image_tag "message_bubbles.png", :class => "top_icon"
      %span New Consult
      %span.date{:data => {:time => resource.created_at.to_i}}
    .consult-source Tell us more information to begin your consult
