.content_full
  .content_source_full
    - unless %w(Question Quiz Message).include?(card.content_type)
      = image_tag('mayo_clinic_logo.png', :class => 'mayo_icon')
  .content_title_full= card.title.html_safe
  - unless ['Disease', 'Test Procedure'].include?(card.content_type)
    .content_abstract= card.abstract.html_safe if card.abstract.present?
  - if %w(Quiz Question Message).include?(card.content_type)
    .content_text= card.body.html_safe if card.body.present?
  - else
    .content_text= card.formatted_body.html_safe if card.body.present?
    .mayo_copyright
      &copy;2013&nbsp;Mayo Foundation for Medical Education and Research (MFMER).&nbsp;All rights reserved.
