
<table>
  <tr>
    <th>(ID)</th>
    <th>Name</th>
    <th>Email</th>
    <th>Install ID</th>
    <th>Gender</th>
    <th>Birth Date</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <% if user.fullName.nil? %>
        <td><%= link_to 'Show', user %></td>
    <% else %>
        <td><%= link_to user.fullName, user %></td>
    <% end %>
    <td><%= user.email %></td>
    <td><%= user.install_id %></td>
    <td><%= user.gender %></td>
    <td><%= user.birthDate %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
