%h2 Choose a new password

- if @user.errors.any?
  #error_explanation
    %h3= "#{pluralize(@user.errors.count, 'error')} prohibited this user from being saved:"
    %ul
      - @user.errors.full_messages.each do |msg|
        %li= msg

= form_for @user, :url => reset_password_update_users_path, :html => {:method => :put} do |f|
  .field
    = f.label :password
    = f.password_field :password
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  = hidden_field_tag :token, @token
  .actions= f.submit 'Reset password'
