.reset_password
  .header
    .logo= image_tag 'logo@2x.png'
  .main
    .container
      .title
        %h2 Choose a new password

      - if @user.errors.any?
        #error_explanation
          %h3= "#{pluralize(@user.errors.count, 'error')} prohibited this user from being saved:"
          %ul
            - @user.errors.full_messages.each do |msg|
              %li= msg

      = form_for @user, :url => reset_password_update_users_path, :html => {:method => :put} do |f|
        .field.top-border
          = f.password_field :password, placeholder: 'Password (8+ characers)'
        = hidden_field_tag :token, @token
        = f.submit 'Reset password', class: [:submit, :toppad]