
<h1><%= @user.first_name %>&nbsp;<%= @user.last_name %></h1><%= link_to 'Edit', edit_user_path(@user) %><br>
<h2><%= @user.install_id %></h2>
<h2><%= @user.email %></h2>
<h2><%= @user.phone %></h2>
<h2><%= @user.generic_call_time %></h2>
<h2><%= @user.height %></h2>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="readingList">
  <thead>
    <th>Weight</th>
    <th>BMI</th>
  </thead>
  <tbody>
  <% @user.user_weights.each do | userWeight | %>
      <tr> 
        <td> <%= userWeight.poundsForKg(userWeight.weight) %> </td>
        <td> <%= userWeight.bmi %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Reset All Content', reset_content_url(:id => @user.id) %>

<p id="notice"><%= notice %></p>
<p>&nbsp;</p>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="readingList">
	<thead>
		<th>Title</th>
		<th>Content ID</th>
		<th>Date Read</th>
		<th>Date Dismissed</th>
		<th>Read Later Date</th>
		<th>Read Later Count</th>
	</thead>
	<tbody>
    
      <% @user.user_readings.each do | readingItem | %>
      <tr> 
        <td> <%= link_to readingItem.content.title, readingItem.content %> </td>
        <td> <%= readingItem.content.id %></td>
        <% if readingItem.read_date.nil? && readingItem.dismiss_date.nil? %>
          <td> <%= link_to 'Mark Read', markread_url(:id => @user.id, :contentId => readingItem.content.id) %> </td>
        <% else %>
          <td> <%= readingItem.read_date %> </td>
        <% end %>
        <% if readingItem.dismiss_date.nil? && readingItem.read_date.nil? %>
          <td> <%= link_to 'Dismiss', dismiss_url(:id => @user.id, :contentId => readingItem.content.id) %> </td>
        <% else %>
          <td> <%= readingItem.dismiss_date %> </td>
        <% end %>
        <% if  readingItem.read_date.nil? && readingItem.dismiss_date.nil? %>
          <td> <%= link_to 'Read Later', readlater_url(:id => @user.id, :contentId => readingItem.content.id) %> <%= readingItem.read_later_date %>  </td>
        <% else %>
          <td> <%= readingItem.read_later_date %> </td>
        <% end %>
        <td> <%= readingItem.read_later_count %> </td>
      </tr>
 
    <% end %>
	
  </tbody>
</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<script type="text/javascript">


