<p id="notice"><%= notice %></p>

<%= @user.firstName %>&nbsp;<%= @user.lastName %><br/>
<%= @user.install_id %>

<h3> Users Current Content List </h3>
<%= link_to 'Reset', reset_content_url(:id => @user.id) %>
<ul>
  <% @user.readContent.each do | readingItem | %>
  	<li>	<%= @user.firstName %>&nbsp;has
  	<% if readingItem.read_date.nil? %>
  		 not
  	<% end %>read
  	<%= readingItem.content.headline %>
  	<br> </li>
  	<% end %>
</ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
