<p id="notice"><%= notice %></p>

<p>
  <%= @user.firstName %>&nbsp;<%= @user.lastName %>
</p>

<p>
  <% @user.readContent.each do | content | %>
  	<b> <%= content.headline %></b>
  	<b> <%= content.completedDate %> </b>
  	<p> <%= content.text %> </p>
  	<% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
