<p id="notice"><%= notice %></p>

<%= @user.firstName %>&nbsp;<%= @user.lastName %><br/>
<%= @user.uuid %>


<p>
  <% @user.readContent.each do | readingItem | %>
  	<%= @user.firstName %>&nbsp;has&nbsp;
  	<% if readingItem.read_date.to_s.nil? %>
  		 not&nbsp; 
  	<% end %>read&nbsp;
  	<%= readingItem.content.headline %>
  	<br>
  	<% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
