.content_full
  .content_source
    - unless %w(Question Quiz Message).include?(content.content_type)
      = image_tag('mayo_clinic_logo.png', :class => 'mayo_icon')
  .content_header
    .content_title_full= content.title.html_safe
    .content_abstract= content.abstract.html_safe if content.abstract.present?
  - if %w(Quiz Question Message).include?(content.content_type)
    .content_text= content.body.html_safe if content.body.present?
  - else
    .content_text= content.formatted_body.html_safe if content.body.present?
    .mayo-copyright.content-link{:data => {:content_id => Content.mayo_terms_of_service.try(:id)}}
      &copy;2013&nbsp;Mayo Foundation for Medical Education and Research (MFMER).<br>All rights reserved.

-# TODO - use the below until the client supports the "open_content" hook
- if Content.mayo_terms_of_service
  :javascript
    window.mayo_terms_of_service_url = "#{j content_url(Content.mayo_terms_of_service)}"
