<div class="content_full">
	<div class="content_source_full">
    <% if not ["Question", "Quiz", "Message"].include?(@content.content_type) %>
      <%= image_tag("mayo_clinic_logo.png", :class => "mayo_icon") %>
    <% end %>
  </div>
<div class="content_title_full"><%= @content.title.html_safe %></div>
  
<% if not ["Disease", "Test Procedure"].include?(@content.content_type) %>
<% if !@content.abstract.nil? %>
<div class="content_abstract"><%= @content.abstract.html_safe%></div>
<% end %>
<% end %>
<% if not ["Quiz", "Question", "Message"].include?(@content.content_type) %>
<div class="content_text"><% if !@content.body.nil? %><%=@content.reformattedBody.html_safe%><% end %></div>
<% if not ["Question", "Quiz", "Message"].include?(@content.content_type) %>
		<div class="mayo_copyright">&copy;2013&nbsp;Mayo Foundation for Medical Education and Research (MFMER).&nbsp;All rights reserved.</div>
<% end %>
<% else %>
<div class="content_text"><% if !@content.body.nil? %><%=@content.body.html_safe%><% end %></div>
<% end %>
</div>
