.old
  .content_full
    - if content.show_mayo_logo?
      .content_source= image_tag('mayologo_card_@2x.png', :class => 'mayo_icon')
    .content_header
      .content_title_full= content.title.html_safe
      .content_abstract= content.abstract.html_safe if content.abstract.present?
    .content_text= content.raw_body.html_safe if content.raw_body.present?
    - if content.show_mayo_copyright? && content != MayoContent.terms_of_service
      .mayo-copyright.content-link{class: 'no-margin', data: {content_id: MayoContent.terms_of_service.try(:id)}}
        - if content.content_updated_at
          %div Updated #{content.content_updated_at.strftime('%m/%d/%Y')}
        %div &copy;2013&nbsp;Mayo Foundation for Medical Education and Research (MFMER).<br>All rights reserved.
