.content_full
  .content_source
  .content_header
    .content_title_full= content.title.html_safe
    .content_abstract= content.abstract.html_safe if content.abstract.present?
  .content_text= content.raw_body.html_safe if content.raw_body.present?
  - if content.show_mayo_copyright? && content != MayoContent.terms_of_service
    .mayo-copyright.content-link{:data => {:content_id => MayoContent.terms_of_service.try(:id)}}
      - if content.content_updated_at
        %div Updated #{content.content_updated_at.strftime('%m/%d/%Y')}
      %div &copy;2013&nbsp;Mayo Foundation for Medical Education and Research (MFMER).<br>All rights reserved.
      = image_tag 'content_from_mayo_logo.png'
  - if content.show_call_option?
    .talk{:data => {:content_id => content.id, :message => "I was reading the article '#{content.title.gsub("&mdash;", "-")}' and would like to discuss it with a Personal Health Assistant."}}
      Discuss this with a Personal Health Assistant
